*{
    margin:0;
    padding:0;
 }

/*Navbar*/
.navbar ul{
    display: flex;
    list-style: none;
    margin:20px 0px;
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
    }


.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
  }
/*home section*/
#home{
    height: 750px;
    justify-content:center;
    color:white;
}
#home::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background:url('red.jpg')no-repeat center center/cover;
    height:600px;
    width:1000px;
    z-index:-1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    align-items:center;
    position:absolute;
    top:200px;

}
/* about section*/
.ard{
    text-align: center;
    color:black;
    }
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-color: black;
}
#pic{
    display:flex;
    color: white;
}
#pic img{
    width: 500px;
    height: 400px;
   
}
#intro{
    display: flex;
    flex-direction: column;
    text-align:justify;
    padding: 10px;
    color: white;

}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;

}
/*contact section*/
.cod{
    text-align: center;
        color:black;
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color:black;
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border:none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline:none;
}
.msg{
    text-align: center;
}
/*education section*/
#education{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color:black;
    color: white;
    padding: 20px;
}
.ftl{
    text-align: center;
        color:black;
}



















 